# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Prisma
prisma/migrations/

# Uploads
uploads/
/generated/prisma

CUSTOMIZE_SEED_DATA.MD
QUICK_START.MD
SEEDING_GUIDE.MD
seed.js
POSTMAN_GUIDE.MD
POSTMAN_QUICK_SETUP.MD
Scholar_Hub_API_Collection.postman_collection.json